if SHIELD_ZMK_4X3TEST

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Arnoll 4x3 keyboard"

# config SPI
#     default y
# https://zmk.dev/docs/development/hardware-integration/shift-registers
# https://github.com/petejohanson/revxlp-config/blob/main/config/boards/shields/revxlp/Kconfig.defconfig

config ZMK_HID_REPORT_TYPE_NKRO
    bool
    default y

config BT
    bool
    default y

config ZMK_BLE
    bool
    default y

config USB
    bool
    default y

config ZMK_USB
    bool
    default y


#CONFIG_ZMK_HID_REPORT_TYPE_NKRO=y
#CONFIG_BT=y
#CONFIG_ZMK_BLE=y
#CONFIG_USB=y
#CONFIG_ZMK_USB=y

endif