/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
        // Other chosen items
    };

    physical_layout0: physical_layout0 { // https://zmk.dev/docs/development/hardware-integration/physical-layouts#multiple-physical-layouts/
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
    };

    position_map { // https://zmk.dev/docs/development/hardware-integration/physical-layouts#writing-a-position-map
        compatible = "zmk,physical-layout-position-map";
        complete; // Optional, see 'Example non-complete position map'
        layout1: layout1 {
            physical-layout = <&physical_layout0>;
            positions = < 0  1  2 >,
                        < 3  4  5 >,
                        < 6  7  8 >,
                        < 9 10 11 >; // List of positions to map
        };
    };
};
