/ {
	&physical_layout0 {
	    transform = <&default_transform>;
	};

    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
        // Other chosen items
    };
};
