#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&kscan0 {
    debounce-press-ms = <5>;
    debounce-release-ms = <5>;
};

/ {
    keymap {
        compatible = "zmk,keymap";

        macros {  // https://v0-3-branch.zmk.dev/docs/keymaps/behaviors/macros
            zed_em_kay: zed_em_kay {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_press &kp LSHFT>
                    , <&macro_tap &kp Z &kp M &kp K>
                    , <&macro_release &kp LSHFT> ;
            };
        };

        macros {
            test_macro: test_macro {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &kp L &kp A &kp Y &kp E &kp R
                                    &kp S &kp W &kp I &kp T &kp C &kp H> ;
            };
        };
        };

        macros {
            swLyr: swLyr {
                compatible = "zmk,behavior-macro";
                #binding-cells = <0>;
                bindings = <&macro_tap &to 1 &kp N1> ;
            };
        };

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &kp I    &kp 2    &kp 3
                &kp U    &kp 5    &kp J
                &kp T    &to 6    &kp G
                &kp R    &to 1    &studio_unlock
            >;
        };

        keypad_layer { // Layer 1
            bindings = <
                &kp KP_N1 &kp KP_N2 &kp KP_N3
                &kp KP_N4 &kp KP_N5 &kp KP_N6
                &kp KP_N7 &kp KP_N8 &kp KP_N9
                &kp KP_N0 &to 0     &to 6
            >;
        };

        media_layer { // Layer 2
            // kp C = J, P = L, Y = F, K = T, I = C
            bindings = <
                &kp C_VOL_UP &kp C            &kp K
                &kp C_MUTE   &kp C_PLAY_PAUSE &kp I
                &kp C_VOL_DN &kp P            &kp Y
                &kp I        &to 1            &to 6
            >;
        };

        user_define_layer { // Layer 3
            bindings = <
                &kp B &kp A &kp C
                &kp K &kp U &kp P
                &kp L &kp A &kp Y
                &kp R &to 0 &to 6
            >;
        };
        };

        user_define_layer { // Layer 4
            bindings = <
                &kp B &kp A &kp C
                &kp K &kp U &kp P
                &kp L &kp A &kp Y
                &kp R &to 0 &to 6
            >;
        };
        };

        user_define_layer { // Layer 5
            bindings = <
                &kp B &kp A &kp C
                &kp K &kp U &kp P
                &kp L &kp A &kp Y
                &kp R &to 0 &to 6
            >;
        };

        switch_layer {
            bindings = <
                &to 0  &to 1  &to 2
                &to 3  &to 4  &to 5
                &zed_em_kay &test_macro &kp N9
                &to 0  &to 1  &studio_unlock
            >;
        };
    };
};