#include <dt-bindings/zmk/matrix_transform.h> // Put this with the other includes at the top of your overlay
#include "zmk_4x3test-layouts.dtsi"

/* 
https://wiki.seeedstudio.com/XIAO-nRF52840-Zephyr-RTOS/#onboard-led
https://github.com/zmkfirmware/zmk/blob/main/app/boards/shields/boardsource3x4/boardsource3x4.overlay

/ {
    xiao_d: connector {
        compatible = "seeed,xiao-gpio";
        #gpio-cells = <2>;
        gpio-map-mask = <0xffffffff 0xffffffc0>;
        gpio-map-pass-thru = <0 0x3f>;
        gpio-map
            = <0 0 &gpio0 2 0>  // D0 &xiao_d 0
            , <1 0 &gpio0 3 0>  // D1 
            , <2 0 &gpio0 28 0>  // D2 
            , <3 0 &gpio0 29 0>  // D3 
            , <4 0 &gpio0 4 0>  // D4 
            , <5 0 &gpio0 5 0>  // D5 
            , <6 0 &gpio1 11 0>  // D6 
            , <7 0 &gpio1 12 0>  // D7 
            , <8 0 &gpio1 13 0>  // D8 
            , <9 0 &gpio1 14 0>  // D9 
            , <10 0 &gpio1 15 0>  // D10 
            ;
    };
};
https://files.seeedstudio.com/wiki/Seeeduino-XIAO/img/Seeeduino-XIAO-pinout-1.jpg
*/

/*
&physical_layout0 {
    kscan = <&kscan0>; 
    transform = <&default_transform>;
};
*/

/ {
    physical_layout0: physical_layout0 { // https://zmk.dev/docs/development/hardware-integration/physical-layouts#multiple-physical-layouts/
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        transform = <&default_transform>;
        kscan = <&kscan0>;
    }; 
    
    position_map { // https://zmk.dev/docs/development/hardware-integration/physical-layouts#writing-a-position-map
        compatible = "zmk,physical-layout-position-map";
        complete; // Optional, see 'Example non-complete position map'
        layout1: layout1 {
            physical-layout = <&physical_layout0>;
            positions = <  0  1  2  3 >,
                        <  4  5  6  7 >,
                        <  8  9 10 11 >,
                        < 12 13 14 15 >; // List of positions to map
        };
    };
    // try to make ZMK Studio find it

    kscan0: kscan0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        
        col-gpios
            = <&xiao_d 8 (GPIO_ACTIVE_HIGH) >// | GPIO_PULL_UP)>
            , <&xiao_d 9 (GPIO_ACTIVE_HIGH) >// | GPIO_PULL_UP)>
            , <&xiao_d 10 (GPIO_ACTIVE_HIGH) >// | GPIO_PULL_UP)> //todo: make it 74595
            ;

        row-gpios
            = <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };

    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <3>; // Length of the "col-gpios" array
        rows = <4>; // Length of the "row-gpios" array
        map = <
        //   Key 1 | Key 2 | Key 3
            RC(0,0) RC(0,1) RC(0,2)
        //   Key 4 | Key 5 | Key 6
            RC(1,0) RC(1,1) RC(1,2)
        //   Key 7 | Key 8 | Key 9
            RC(2,0) RC(2,1) RC(2,2)
            RC(3,0) RC(3,1) RC(3,2)
        >;
    };
};